.App {
  text-align: center;
}
section {
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.55);
  width: 30%;
  margin: 0 auto;
  margin-top: 20vh;
  padding: 5vh 0;

}
#item {
  display: flex;
  justify-content: center;
  align-items: center;
}